In [2]:
#multiplication in string to repetation

In [4]:
x = 'x'
print(x)

x

In [5]:
print(x*10)

xxxxxxxxxx

In [6]:
'2' + '2' #concatination

'22'

In [7]:
S='my job is data'

In [11]:
print(S.upper())

MY JOB IS DATA

In [14]:
S.lower()

'my job is data'

In [15]:
S.split() #for converting a string into list

['my', 'job', 'is', 'data']

In [20]:
s = 'In Imigration India Invite' #Split with a secific character 'i'

In [21]:
s.split('i')

['In Im', 'grat', 'on Ind', 'a Inv', 'te']

In [22]:
#String operations 1-Formating with F'string'

In [25]:
player = 'Tikna'
score = 100

In [28]:
f'yesterday {player} scored {score}' #formating f'string with {objects}'

"yesterday 'Tikna' scored 100"

{string!r} for giving ''

In [29]:
var = 103.987456

In [38]:
print(f'{var:{1}.{5}}')

103.99

var = veriable, {1} = width, keep 1, {5} = length required

In [39]:
#with .format()

In [40]:
print('This is a srting with an {}'.format('insert'))

This is a srting with an insert

In [42]:
print('one {} two {} three {}'.format('a','b','c'))

one a two b three c

In [43]:
print('one {2} two {0} three {1}'.format('a','b','c'))

one c two a three b

In [45]:
print('{a} run and {a} jumps)'.format(a='fox'))

fox run and fox jumps)

In [47]:
print('I {a} {b}'.format(a='like',b='apples'))

I like apples